@media screen and (max-device-width:480px) and (resolution:163dpi) {
    #main-wall {
        display: flex;
        flex-direction: column;
    }


    header {
        box-sizing: content-box;
        width: 100%;
        height: 100px;
        background-color: #fedb0f;
        display: flex;
        align-content: flex-start;
        padding: 10px;
        padding-bottom: 0;
        margin-left: -8px;
        margin-top: -8px;
        border-bottom: 1px solid #fedb0f;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .logot {
        float: left;
        display: inline-block;
        padding-right: 10px;
    }



    footer {
        width: 100%;
        background-color: #fedb0f;
        display: flex;
        align-content: flex-end;
        height: 40px;
        margin-left: -8px;
        margin-bottom: -10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding-right: 18px;
    }

    nav.navigation {
        margin: 0 auto;
        background-color: #ffec7d;
        min-width: 960px;
        padding: 0;
        height: 48px;
    }

    nav li {
        width: 20%;
    }


    nav li a {
        font-size: 1.5em;
        text-align: center;

        display: block;
        height: 100%;
        width: 100%;

        text-decoration: none;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        width: 100%;

        padding: 0;
    }

    nav a {
        color: black;
        border-bottom: 2px solid transparent;

    }

    nav a:hover {

        color: #f2ad02;
        border-bottom: 2px solid #fedb0f;

    }

    main {
        flex-direction: column;
        max-width: 960px;
        margin: 0;
        padding-bottom: 20px;
    }

    .content {
        display: flex;
        min-width: 960px;
        padding-top: 10px;
        margin: 0 auto;
        background-color: white;
    }



    body {
        background-color: ghostwhite;
        font-family: "Times new Roman", sans-serif;
    }



    main a {
        color: black;
    }

    main a:hover {
        color: #d8ba0e;
    }

    #list {
        margin: 0;
    }

    .logot {
        height: 75px;
        width: 75px;
    }

    #form {
        margin: 10px;
        margin-bottom: 20px;
    }

    h2 {
        margin-left: 7.54%;
        margin-bottom: 0;

    }

    table {
        order: 3;
        border-collapse: collapse;
        margin-left: 10px;
    }

    tr {
        background-color: #fedb0f;
        border-bottom: 1px solid grey;
    }

    tr:last-child {
        border-bottom: none;
    }

    tr td {
        border-right: 1px solid grey;
    }

    tr td:last-child {
        border-right: none;
    }

    .back {
        background-color: ghostwhite;
    }

    .back:hover {
        background-color: #fcee82;
    }


    .table_head {
        background-color: #f2ad02;
        border-bottom: 1px solid grey;

    }

    .str2 {
        background-color: #fcee82;
    }

    h1 {}



}
