@media (min-device-width: 600px) {
   body {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   h1 {
      font-size: 30px;
   }

   .logot {
      max-height: 95px;
      max-width: 95px;
      float: left;
   }

   main {
      background-color: white;
      min-width: 960px;
   }   
   

   nav {
      margin: 0 auto;
      max-width: 960px;
      min-height: 55px;
      display: flex;
      flex-flow: row wrap;
      padding-bottom: 5px;
   }

   nav ul {
      padding-left: 10px;
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      height: 45px;
      justify-content: space-around;
      list-style-type: none;
   }

   nav ul:first-child {
      margin-left: 15px;
   }

   h3 {
      align-self: center;
   }

   ol {
      max-width: 960px;
      margin-left: 30px;
      margin: 0 auto;
   }

   blockquote {
      max-width: 900px;
      font-size: 1.2em;
   }

   form {
      max-width: 960px;
      margin: 0 auto;
      padding: 10px;
      margin-left: -7px;
   }

   table {
      max-width: 960px;
      height: 300px;
      margin-left: 5px;
      padding: 10px;
   }


   .content {
      display: flex;
      flex-direction: column;
   }

   #Form {
      order: 1;
   }

   img {
      width: 600px;
   }

   #dress {
      width: 600px;
   }

   #sea {
      width: 600px;
   }
}

body {
   background-color: ghostwhite;
   display: flex;
   flex-direction: column;
   font-size: 17px;
}

header {
   background-color: #fedb0f;
   background-size: cover;
   width: 100%;
   min-height: 125px;
   padding: 7.5px;
   margin: 0 auto;
   padding-bottom: 0;
   margin-left: -8px;
   margin-top: -8px;
   box-shadow: 0 0 10px #2c2002;
}

footer {
   background-color: #fedb0f;
   width: 100%;
   background-size: cover;
   padding: 7.5px;
   height: 30px;
   margin: 0 auto;
   margin-top: -15px;
   margin-left: -8px;
   margin-bottom: -10px;
   box-shadow: 0 0 6px #2c2002;
}

#logo {
   float: left;
   margin-top: 0;
   width: 120px;
}

.content {
   display: flex;
   flex-direction: column;
}



h1 {
   margin-top: 0;
   padding: 10px;
   width: 100%;
   margin-bottom: 5px;
   border-radius: 10px;
   min-height: 40px;
   height: 55px;
   color: #000000;
   font-family: "Comic Sans MS", "Comic Sans", cursive;
   background-color: ghostwhite;
   font-size: 25px;
}

footer p {
   font-size: 1.4em;
   margin: 0 auto;
   text-align: center;
   padding-right: 18px;
   color: black;
}

nav {
   margin: 0 auto;
   width: 100%;
   border-radius: 10px;
   background-color: #fedb0f;
   display: flex;
   flex-flow: column wrap;
   padding-bottom: 5px;
}

nav ul {
   padding-left: 10px;
   display: flex;
   flex-direction: column;
   width: 100%;
   list-style-type: none;
}

nav li {
   margin-top: -5px;
   height: 100%;
   width: 15%;
   margin-right: 3px;
}

nav a {
   text-decoration: none;
   display: block;
   height: 100%;
   width: 100%;
   font-size: 35px;
   color: #000;
}

nav a:hover {
   color: #f2ad02;
   border-bottom: 2px solid #f2ad02;
}

a {
   color: black;
   text-decoration: none;
}

a:hover {
   color: #f2ad02;
}

a:visited{
   color: #f2ad02;
}


h3 {
   text-decoration: underline;
   margin: 5px;
   margin-top: 0;
   font-size: 35px;
   color: #f2ad02;
   text-align: center;
}

main {
   border-radius: 8px;
}

ol {
   width: 100%;
   padding: 0;
   margin: 0 auto;
   margin-left: 30px;
}

form {
   width: 100%;
   margin: 0 auto;
   padding: 0;
   margin-bottom: 10px;
}


.yellow {
   background-color:#fedb0f;
   margin-bottom: 10px;
}


fieldset{
   background-color: white;
   margin-top: 8px;
}

.top input:hover {
   border: 1px solid #f2ad02;
}

label {
   cursor: pointer;
}

.bord:hover {
   border: 1px solid #fedb0f;

}

table {
   border: 1px solid #fedb0f;
   border-collapse: collapse;
   width: 97%;
   height: 250px;
   margin: 0 auto;
   padding: 5px;
   margin-bottom: 10px;
}
   #Table {
   order: 1;
}

td {
   border: 1px solid #f2ad02;
   padding: 7px;
   font-size: 17px;
}

th {
   border-bottom: 1px solid #f2ad02;
   padding: 7px;
   font-size: 17px;
   background-color: #fedb0f;
   color: black;
}

.long {
   border-left: 1px solid #f2ad02;
   border-right: 1px solid #f2ad02;
}

tr:nth-child(2n) {
   background-color: #fedb0f;
}

.comb {
   background-color: #f2ad02;
   border: 1px solid #f2ad02;
}

.none {
   border: none;
}

.dow {
   border-bottom: 1px solid #f2ad02;
}

#bio {
   max-width: 500px;
   height: 150px;
}

.fio {
   max-width: 400px;
}

.vr {
   text-align: center;
}

img {
   max-width: 100%;
}
